.home_top {
	background: #E6E6E6;
	position: fixed;
	top: 0;
	left: 0;
}

.home_top_item {
	display: inline-block;
	width: 270px;
	height: 100px;
	text-align: center;
	font-size: 3rem;
}

.home_body {
	background: #E6E6E6;
	margin-top: 100px;
	margin-bottom: 200px;
}