.publish_top {
  width: 100%;
  height: 150px;
  font-size: 3rem;
  text-align: center;
  border-bottom: 10px solid #fff;
  margin-bottom: 50px;
}



.publish_top>p {
  font-size: 4rem;
  position: relative;
  top: 10px;
}


.publish_top>button {
  width: 200px;
  font-size: 3rem;
  border-radius: 30px;
  position: absolute;
  top: 20px;
  right: 40px;
}

.publish_mid {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

#input1 {
  text-align: justify;
  border: #7ABAFF;
  display: block;
  height: 600px;
  width: 100%;
  margin-bottom: 50px;
  font-size: 3rem;
}

#myfile {
  font-size: 3rem;
}
